.ff{
    /* height: 300px; */
    width: 300px;
    /* background-color: brown; */
    overflow: hidden;
}
.ff img{
  width: 100%;   
 
}
footer{
  background-color: #FFF8F3;
  height: 500px;
  margin-top:60px;
}